/* --- Bar Chart --- */

.bar tbody th {
  padding-right: 1em;
  border: none;
  text-align: right;
}

.bar tbody td {
  width: 10em;
  border: none;
  vertical-align: top;
}

.bar tbody td p {
  position: relative;
  top: 0;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 4em;
  height: 1em;
  text-align: right;
  background-color: #ccc;
}

.bar tbody td p span {
  position: absolute;
  right: 100%;
  margin-right: 1em;
}